.about-this {
    clip-path: circle(20px at 90% 90%);
    transition: 0.5s;
    background: $red;
    width: 350px;
    height: 260px;
    position: fixed;
    z-index: 3;
    bottom: 1vh;
    right: 1vw;
    border-radius: 20px;
    h3 {
        font-size: 20px;
        text-decoration: underline;
    }
    &__p {
        padding: 0px 10px 48px;
        color: #fff;
        font-size: 14px;
        a {
            text-decoration: underline;
            color: $white;
        }
    }
    svg {
        width: 40px;
        height: 40px;
        position: absolute;
        right: 15px;
        bottom: 6px;
        cursor: pointer;
    }
    &.open {
        clip-path: circle(100% at 50% 50%);
        svg path {
            fill: $white;
        }
    }
}
