.nemo-logo {
  transition: transform 0.5s;
  transition-delay: 0.3s;
  transform-origin: 70px 17px;
}

.nemo-logo:hover {
  transform: rotate(-45deg) translateY(-50%);
  #fire {
    opacity: 0;
    transform: translateY(-10%);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fumes2 {
  50% {
    transform: scale(1.1);
  }
}
.logo {
  .st0 {
    fill: #cb5858;
  }
  .st1 {
    fill: #fff;
    stroke: #000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
  }
  .st2 {
    fill: #1d1d1d;
  }
  #fire {
    transition: opacity 0.2s;
  }
}
