.home {
    padding: 14px rem(180) 1vh 3vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.home__title {
    font-family: "Merriweather", serif;
    font-size: rem(125);
    line-height: rem(159);
    font-weight: 300;

    &--small {
        font-size: 16px;
        font-weight: 900;
    }

    &--bold {
        font-weight: 900;
        text-decoration: underline;
    }
}

.home__nav {
    margin: 3vh 0 0 auto;

    &--ol {
        justify-content: flex-end;
        font-size: 20px;
        font-style: italic;
        font-weight: 900;

        li {
            text-decoration: underline;
            margin-right: 7px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 960px), (max-device-width: 760px), (orientation: portrait) {

    .home {
      padding: 1vh 1vw;
      min-height: 75vh;
    
      &__title {
        font-size: 3.125rem;
        line-height: 1;
        margin-top: 2vh;
      }
    }
    .home__title--bold {
      font-size: 2.75rem;
    }
    .home__title--small{
        display: block;
    }
    .home__nav--ol{
        margin-top: 1rem;
        font-size: 32px;
        list-style:initial;
        li{
            margin: 0 auto 1rem;
            width: 70%;
        }
    }
    .home-title-aniamtion{
        display: block;
        min-height:6.5rem;
    }

  }
  