aside{
  position: relative;
  z-index: 9;
}
.main-nav {
  width: calc(100% - #{$sidebarwidth});
  position: fixed;
  margin-left: auto;
  z-index: 8;
  height: 100vh;
  overflow: auto;
  background-color: $red;
  top: 0;
  left:auto;
  right: calc(100vw - 121px);
    align-items: center;
  display: flex;
  animation: slide-in 0.4s forwards;
  animation-delay: 0.1s;
  flex-direction: column;
  &__ol {
    color: $white;
    font-family: Raleway;
    font-size: 80px;
    font-style: italic;
    font-weight: 900;
    line-height: 94px;
    width: 100%;
    padding: 15px;
    justify-content: space-evenly;
    text-decoration: underline;
    margin: auto;
    transform: translateY(5vh);
  }
  &__li {
    &:hover {
      color: $gray;
    }
  }
  .nav-scoials {
    margin-bottom: 5vh;
  }
  .contact__social:hover,
  .contact__social {
    color: $white;
    path {
      fill: $white;
    }
  }
}
.contact__social:hover{
    text-decoration: none;
}

@keyframes slide-in {
  100% { right: 0; }
}