@tailwind base;
@tailwind components;
@tailwind utilities;

/* the props */
@import "open-props/postcss/style";
/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";

@import "nemo.css";
@import "cmps/hamburger.css";


@import url(https://fonts.bunny.net/css?family=merriweather:400,400i|raleway:700);
body {
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}
.raleway {
  font-family: "Raleway", sans-serif;
}

